/*.bairros {
    text-align: center;
    color: white;
    background-color: green;
    border: none;
    padding: 10px 20px; /* Adiciona espaço interno ao botão 
    font-size: 16px;    /* Ajusta o tamanho da fonte 
    cursor: pointer;    /* Indica que é clicável 
    border-radius: 5px; /* Deixa os cantos arredondados 
    margin-left: 570px;
}
*/
.final {
    text-align: center;
    background-color: green;
    padding: 15px;
    margin-top: 150px;
}
.textofinal {
    color: white;
}
h1 {
    text-align: center;
    color: green;
}
h2 {
    text-align: center;
    color: red;
}
h3 {
    text-align: center;
    color: red;
}
.btn {
            display: block;
            margin: 20px auto;
            padding: 20px 70px;
            font-size: 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

.btn:hover {
            background-color: green;
            animation-name: anima;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
.Clique{
            text-decoration: none;
        }
.btn2 {
            display: block;
            margin: 20px auto;
            padding: 20px 70px;
            font-size: 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 70px;
        }

.btn2:hover {
            background-color: green;
            animation-name: anima;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
body {
            background-color: black;
        }

@keyframes anima {
           0% {
            transform: scale(1);
           }
           100% {
            transform: scale(1.25);
           }



        }